body {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  background-color: #EAF7FF;
  margin: 0;
  padding: 20px;
}

.hidden {
  display: none !important;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

#menu button {
  padding: 10px 20px;
  font-size: 28px;
  font-family: 'Fredoka', sans-serif;
  width: 400px;
  border: none;
  border-radius: 3px;
  background-color: 	#2986CC;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#menu button:hover {
  background-color: 	#2986CC;
}

#jeu, #fin {
  margin-top: 20px;
}

#chrono {
  font-size: 24px;
  margin-bottom: 10px;
}

#question {
  font-size: 28px;
  margin-bottom: 10px;
}

#reponse {
  font-size: 24px;
  padding: 5px;
  width: 100px;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  padding: 8px 16px;
  margin-top: 5px;
  cursor: pointer;
}

#historique, #historique-fin {
  margin: 20px auto;
  text-align: center;
  width: 400px;
}

.historique-correct {
  color: green;
  font-weight: bold;
}

.historique-faux {
  color: red;
  font-weight: bold;
}
